In [ ]:
list1=['Sri Lanka','India']

In [ ]:
print(list1)